.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.card {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
  padding: 1rem;
  width: 100%;
  transition: transform 0.2s;
}

.cardInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
}

.loading, .error {
  text-align: center;
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .card {
      width: calc(50% - 1rem);
  }
}

@media (min-width: 1024px) {
  .card {
      width: calc(33.33% - 1rem);
  }
}
