.cards{
    width: 95% !important;
    height: 65%;
    background-color:rgb(202, 220, 220);
    margin: 4px auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    /* background-color: rgb(213, 0, 0); */
    width: 89%;
    height: 48%;
    gap: 10px !important;
  }
  .cardInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card-inner > span {
    font-size: 50px;
  }
  .card:first-child {
    background-color: rgb(213, 0, 0);
  }
  
  .card:nth-child(2) {
    background-color: rgb(46, 125, 50);
  }
  span > i{
    font-size: 250%;
    margin: auto !important;
  }