.Bar{
    margin: 10px ;
    background-color: #F6F6F1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30PX;
    
    width: 483px; 
    height: 450px;
    }
    .Line{
        width: 99%;
        background-color: #F6F6F1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 35PX;
        margin-bottom: 5px;
        align-items: center;
        justify-content: center;
    }
    .card {
        /*width: 35%;
        *//*height: 130px !important;
        */padding: 30px;
        color: white;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        margin-left: 9px;
        margin-top: 10px;
        position: relative;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(234, 234, 234)
    }
    
    img{
        background-color: transparent !important;
        background-image: transparent !important;
    }
    
    .cards{
        width: 97%;
        gap: 0.2%;
    }
    h3{
        text-shadow: 2px 2px 4px #424242;
        color: black !important;
    }
    .icon{
        font-size: 60px;
        text-shadow: 2px 2px 2px #000000;
        align-items: center !important;
        justify-content: center !important;
        display: flex !important;
        color: rgb(155, 155, 155);
    }
    .col-md-4{
        height: 150 !important;
    }
    
    .C1{
        background-color: dimgray  ;
    }
    
    .C2{
        background-color:silver;
    }
    
    .C3{
        /* background-color:; */
    }
    
    .info{
        padding: 8px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 0;
    }
    
    .title{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-weight: 600 !important;
    color: #000000 !important;
    }
    .detail{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-weight: 700 !important;
    /* text-shadow: 1px 1px 4px #000000; */
    color: #000000 !important;
    }
    
    .degree{
        font-size: 50px;
        text-shadow: 2px 2px 2px #000000a2;
        font-weight: 700;
        color: black;
    }
    
    .degree span{
        color:black
    }
    
    .personal{
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background-color: whitesmoke;
    /* padding: 20px ; */
    padding-top: 30px;
    gap: 50px;
    }
    
    .devices{
        height: 40%;
    }
    
    .device{
        width: 130px;
        margin: 15px 12px;
        height: 130px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    
    .fan{
        font-size: 80px !important;
    }
    
    .wifi{
        font-size: 70px;
        margin-top: 10px;
    }
    
    .Fcolor{
        background-color: burlywood !important;
    }
    
    .music{
        font-size: 75px ;
    }
    
    .LColor{
        background-color:pink;
    }
    
    .img{
        width: 100%;
        margin: 40% 0
        /* height: 100%; */
    }